@model SportsClubOrganizer.Web.Models.Team
@{
    ViewData["Title"] = "AdminHomePage";
}

<div class="page-info">
    <h2>Admin Account</h2>
    <p>@TempData["Added"]</p>
    @{
        if (DateTime.Now.Hour < 12 && DateTime.Now.Hour >= 0)
        {
            <h3>Good Morning!</h3>
        }
        else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 17)
        {
            <h3>Good Afternoon!</h3>
        }
        else if (DateTime.Now.Hour <= 24 && DateTime.Now.Hour >= 17)
        {
            <h3>Good Evening!</h3>
        }
    }

    <form asp-controller="Admin" asp-action="ViewTeam" method="get"></form>
    <div class="homepage-links">
        <ul>
            @*<li><a asp-action="Index" asp-controller="Message">Message Center</a></li>*@
            <li><a asp-action="ViewAllTeams" asp-controller="Admin">View All Teams</a></li>
            <li><a asp-action="SelectLeague" asp-controller="Admin">Change Team Info</a></li>
            <li><a asp-action="CreateNewUser" asp-controller="Admin">Create New User</a></li>
            <li><a asp-action="ApproveUser" asp-controller="Admin">Approve New User</a></li>
            <li><a asp-action="CreateNewLeague" asp-controller="Admin">Create New League</a></li>
            <li><a asp-action="FinalizeEvent" asp-controller="Admin">Finalize Events</a></li>
            @*<li><a asp-action="SeeAvailability" asp-controller="Admin">See Team Availability</a></li>*@
        </ul>
    </div>
</div>