@{
    ViewData["Title"] = "ApproveUser";
}
<div class="page-info">
    <h2>Approve User</h2>

    <a asp-controller="Admin" asp-action="AdminHomePage" method="post">
        <input type="button" value="Back to Home Page" class="btn btn-default" />
    </a>
</div>