@using SportsClubOrganizer.Web.Models.Messages
@model List<SportsClubOrganizer.Web.Models.Messages.MessagesModel>
@{
    ViewData["Title"] = "ApproveUser";
}

<div class="page-info">
    <h2>Approve User</h2>

    <a asp-controller="Admin" asp-action="AdminHomePage">
        <input type="button" value="Back to My Account" class="btn btn-default" />
    </a>
</div>