@model SportsClubOrganizer.Web.Models.User

@{
    ViewData["Title"] = "CreateNewUser";
}
<div class="page-info">
    <h2>Create New User</h2>

    <form asp-controller="Admin" asp-action="CreateNewUser" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <p>
            <label asp-for="League" class="control-label">League</label>
        </p>
        <p>
            <select asp-for="League" asp-items="Model.LeagueDropDown" class="dropbtn"></select>
        </p>

        <div class="checkbox">
            <label>
                <input asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
            </label>
        </div>

        <p>
            <label asp-for="Username" class="control-label">Email</label>
        </p>
        <p>
            <input asp-for="Username" class="form-control" placeholder="enter email address"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="Password" class="control-label"></label>
        </p>
        <p>
            <input asp-for="Password" class="form-control" id="myInput" type="password" placeholder="enter password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </p>
        <p>
            <input type="checkbox" onclick="seePassword()">Show Password
        </p>

        <input type="submit" value="Create" class="btn btn-default" />
        <a asp-controller="Admin" asp-action="AdminHomePage">
            <input type="button" value="Back to My Account" class="btn btn-default" />
        </a>
    </form>
</div>

<script>
    function seePassword() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>