@{
    ViewData["Title"] = "SeeAvailability";
}
<div class="page-info">
    <h2>Team Availability</h2>

    <a asp-controller="Admin" asp-action="AdminHomePage" method="post">
        <input type="button" value="Back to Home Page" class="btn btn-default" />
    </a>
</div>