@using WebApplication.Web.Models.Account;
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="page-info">
    <h2>Login</h2>

    <form asp-controller="account" asp-action="Login" method="post">
        <div class="Login">
            <p>
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" class="input" />
                <span asp-validation-for="Email"></span>
            </p>

            <p>
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="input" />
                <span asp-validation-for="Password"></span>
            </p>
        </div>
        <input type="submit" value="Login" class="btn btn-default" />
    </form>
</div>