@model Team
@{
    ViewData["Title"] = "RegisterTeam";
}

<div class="page-info">
    <h2>Register Your Team</h2>

    <form asp-controller="account" asp-action="RegisterTeam" method="post">
        <p>
            <label asp-for="Name"></label>
        </p>
        <p>
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="Org"></label>
        </p>
        <p>
            <input type="text" asp-for="Org" />
            <span asp-validation-for="Org"></span>
        </p>
        <p>
            <label asp-for="League"></label>
        </p>
        <p>
            <input type="text" asp-for="League" />
            <span asp-validation-for="League"></span>
        </p>
        <p>
            <label asp-for="PrimaryVenue"></label>
        </p>
        <p>
            <input type="text" asp-for="PrimaryVenue" />
            <span asp-validation-for="PrimaryVenue"></span>
        </p>
        <p>
            <label asp-for="SecondaryVenue"></label>
        </p>
        <p>
            <input type="text" asp-for="SecondaryVenue" />
            <span asp-validation-for="SecondaryVenue"></span>
        </p>
   
        <input type="submit" value="Continue" class="btn btn-default" />
    </form>

    <a asp-controller="Home" asp-action="Index" method="post">
        <input type="button" value="Cancel" class="btn btn-default" />
    </a>
   
</div>