@using WebApplication.Web.Models.Account;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="page-info">
    <h2>New User Registration</h2>
    <form asp-controller="account" asp-action="register" method="post">

        <div class="Register">
            <p>
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" class="input" />
                <span asp-validation-for="Email"></span>
            </p>

            <p>
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="input" />
                <span asp-validation-for="Password"></span>
            </p>

            <p>
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" class="input" />
                <span asp-validation-for="ConfirmPassword"></span>
            </p>
        </div>

        <input type="submit" value="Register" class="btn btn-default" />
    </form>
</div>