@using System.Collections.Generic;
@model SportsClubOrganizer.Web.Models.Calendar.Calendar
@{
    ViewData["Title"] = "AddAvailableDates";
}

<div class="page-info">
    <h2>Add Available Dates</h2>
    <div class="flex">
        <div>
            <form asp-controller="User" asp-action="AddAvailableDates" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>
                    <label asp-for="HomeDate" class="control-label"></label>
                </p>
                <p>
                    <input asp-for="HomeDate" class="form-control" />
                    <span asp-validation-for="HomeDate" class="text-danger"></span>
                </p>
                <p>
                    <label asp-for="TravelDate" class="control-label"></label>
                </p>
                <p>
                    <input asp-for="TravelDate" class="form-control" />
                    <span asp-validation-for="TravelDate" class="text-danger"></span>
                </p>

                <input type="hidden" asp-for="TravelDates" class="form-control" />
                <input type="hidden" asp-for="HomeDates" class="form-control" />

                <input type="submit" value="Add Date(s)" class="btn btn-default" />

                <a asp-controller="User" asp-action="UserHomePage">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </a>
                <a asp-controller="User" asp-action="UserHomePage">
                    <input type="button" value="Cancel" class="btn btn-default" />
                </a>
            </form>
        </div>
        <div>
            @if (Model.HomeDates.Count > 0)
            {
                <h3>Home Dates:</h3>
                @foreach (DateTime date in Model.HomeDates)
                {
                    <p>@date.ToString("MM/dd/yyy")</p>
                }
            }
        </div>
        <div>
            @if (Model.TravelDates.Count > 0)
            {
                <h3>Travel Dates:</h3>
                @foreach (DateTime date in Model.TravelDates)
                {
                    <p>@date.ToString("MM/dd/yyy")</p>
                }
            }
        </div>
    </div>
</div>

