@model Team
@{
    ViewData["Title"] = "AdminHomePage";
}

<h2>Admin Home Page</h2>

<form asp-controller="Home" asp-action="ViewTeam" method="get">
    <div class="form-row">
        <label asp-for="League"></label>
        <input asp-for="League" />
        @*Make dropdown of leagues*@
    </div>
    <div class="form-actions">
        <button type="submit">Search</button>
    </div>
</form>

<div>
    <a asp-action="ViewAllTeams" asp-controller="Home">View All Teams</a>
    <a asp-action="SelectLeague" asp-controller="Home">Modify Teams</a>
    <a asp-action="ApproveUser" asp-controller="Home">Approve New User</a>
    <a asp-action="CreateNewLeague" asp-controller="Home">Create New League</a>
    <a asp-action="FinalizeEvent" asp-controller="Home">Finalize Events</a>
    <a asp-action="SeeAvailability" asp-controller="Home">See Team Availability</a>
</div>