@using System.Collections.Generic;
@model WebApplication.Web.DAL.Models.EmpModel
@{
    ViewData["Title"] = "AdminAddAvailableDates";
}

<div class="page-info">
    <h2>Add Available Dates</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="AdminAddAvailableDates" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HomeDate" class="control-label"></label>
                    <input asp-for="HomeDate" class="form-control" />
                    <span asp-validation-for="HomeDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TravelDate" class="control-label"></label>
                    <input asp-for="TravelDate" class="form-control" />
                    <span asp-validation-for="TravelDate" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="TravelDates" class="form-control" />
                <input type="hidden" asp-for="HomeDates" class="form-control" />
                <div class="form-group">
                    <input type="submit" value="Add Date(s)" class="btn btn-default" />
                </div>
                <a asp-controller="Home" asp-action="AdminHomePage" method="post">
                    <input type="button" value="No More Dates to Add" class="btn btn-default" />
                </a>
                <a asp-controller="Home" asp-action="AdminHomePage" method="post">
                    <input type="button" value="No New Dates at This Time" class="btn btn-default" />
                </a>

            </form>
        </div>
    </div>
    <div>
        @if (Model.HomeDates.Count > 0)
        {
            <p><strong>Home Dates:</strong></p>
            @foreach (DateTime date in Model.HomeDates)
            {
                <p>@date.ToString("MM/dd/yyy")</p>
            }
        }
    </div>

    @*<a asp-controller="Home" asp-action="ClickTravelButton" method="post">
            <input type="submit" value="AddTravelDate" class="btn btn-default" />
        </a>*@

    <div>
        @if (Model.TravelDates.Count > 0)
        {
            <p><strong>Travel Dates:</strong></p>
            @foreach (DateTime date in Model.TravelDates)
            {
                <p>@date.ToString("MM/dd/yyy")</p>
            }
        }
    </div>
    
</div>

