@model Team
@{
    ViewData["Title"] = "ModifyTeams";
}
<div class="page-info">
<h2>Modify Teams</h2>

<p>Please select team:</p>
    <label asp-for="Name" class="control-label">Team Name</label>
    <select asp-for="Name" asp-items="Model.DropDownListTeam"></select>
</div>