@model Team
@{
    ViewData["Title"] = "ChangeMyTeamInfo";
}

<div class="page-info">
    <h2>Modify Teams</h2>

    <form asp-controller="Home" asp-action="ChangeATeamInfo" method="post">
        <p>
            <label asp-for="Name" class="control-label">Select Team</label>
        </p>
        <p>
            <select asp-for="Name" asp-items="Model.DropDownListTeam" class="dropbtn"></select>
        </p>

        <input type="submit" value="Select Team" class="btn btn-default" />

        <a asp-controller="Home" asp-action="AdminHomePage" method="post">
            <input type="button" value="Back to Home Page" class="btn btn-default" />
        </a>
    </form>
</div>