@model League
@{
    ViewData["Title"] = "CreateNewLeague";
}

<div class="page-info">
    <h2>Create New League</h2>
    <form asp-controller="Home" asp-action="CreateNewLeague" method="post">
        <p>
            <label asp-for="LeagueName"></label>
        </p>
        <p>
            <input type="text" asp-for="LeagueName" />
            <span asp-validation-for="LeagueName"></span>
        </p>
        <p>
            <label asp-for="Org"></label>
        </p>
        <p>
            <input type="text" asp-for="Org" />
            <span asp-validation-for="Org"></span>
        </p>
        <p>
            <label asp-for="Sport"></label>
        </p>
        <p>
            <input type="text" asp-for="Sport" />
            <span asp-validation-for="Sport"></span>
        </p>

        <input type="submit" value="Create League" class="btn btn-default" />

        <a asp-controller="Home" asp-action="AdminHomePage" method="post">
<<<<<<< HEAD
            <input type="button" value="Back To Admin Home Page" class="btn btn-default" />
=======
            <input type="button" value="Back To Home Page" class="btn btn-default" />
>>>>>>> fb8d6418d036c014a2cd909a84fc5351d117577c
        </a>
    </form>
</div>