@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="page-info">
    <h1>Oh, hello there..</h1>
    <a href="https://www.youtube.com/watch?v=8GyVx28R9-s">
        <img src="~/images/faygo.jpg" width="200" />
    </a>
</div>