
@{
    ViewData["Title"] = "FinalizeEvent";
}
<div class="page-info">
    <h2>Finalize Event</h2>
    <a asp-controller="Home" asp-action="AdminHomePage" method="post">
        <input type="button" value="Back to Home Page" class="btn btn-default" />
    </a>
</div>
