@{
    ViewData["Title"] = "Index";
}

<div class="page-info">
    <h2>Welcome!</h2>

    <p>Generic message about our product and whatever else we find relevant to put on the home page.</p>
</div>

@*<nav>
    <div>
        <a asp-action="Login" asp-controller="Account">Login</a>
    </div>
    <br />
</nav>
<nav>
    <div>
        <a asp-action="Register" asp-controller="Account">Register New User</a>
    </div>
</nav>*@