
@{
    ViewData["Title"] = "SeeAvailability";
}
<div class="page-info">
    <h2>See Availability</h2>

    <a asp-controller="Home" asp-action="AdminHomePage" method="post">
        <input type="button" value="Back To Admin Home Page" class="btn btn-default" />
    </a>
</div>
