@model Team
@{
    ViewData["Title"] = "SelectLeague";
}
<<<<<<< HEAD
<div class="page-info">
    <h2>SelectLeague</h2>

=======

<div class="page-info">
    <h2>Modify Teams</h2>
>>>>>>> fb8d6418d036c014a2cd909a84fc5351d117577c
    <form asp-controller="Home" asp-action="SelectLeague" method="post">
        <p>
            <label asp-for="League" class="control-label">Select Your League</label>
        </p>
            <p>
                <select asp-for="League" asp-items="Model.LeagueDropDown" class="dropbtn"></select>
            </p>

        <input type="submit" value="Select League" class="btn btn-default" />

        <a asp-controller="Home" asp-action="AdminHomePage" method="post">
            <input type="button" value="Back to Home Page" class="btn btn-default" />
        </a>
    </form>
</div>