
@{
    ViewData["Title"] = "TeamNovember";
}
<div>
    <h2>Team November</h2>
    
    <p>Cody Theis       | <a style="color: blue; text-decoration:underline">linkedin.com/in/cody-theis/</a></p>
    <p>Lauren Miles     | <a style="color: blue; text-decoration:underline">linkedin.com/in/laurenmmiles/</a></p>
    <p>Madi Kohr        | <a style="color: blue; text-decoration:underline">linkedin.com/in/madi-kohr/</a></p>
    <p>Nathan Breneman  | <a style="color: blue; text-decoration:underline">linkedin.com/in/nathan-breneman/</a></p>
    <br />
</div>