@model List<Team>
@{
    ViewData["Title"] = "UserHomePage";
}

<p>@TempData["Added"]</p>
<div class="page-info">
    <h2>User Home Page</h2>
    <ul>
        <li><a asp-action="ViewMyLeague" asp-controller="Home">View All Teams in Your League</a></li>
        <li><a asp-action="ChangeMyTeamInfo" asp-controller="Home">Update Team</a></li>
        <li><a asp-action="UpdateUserInfo" asp-controller="Home">Update My Username/Password</a></li>
        <li><a asp-action="Schedule" asp-controller="Home">See Schedule</a></li>
        @*finalized schedule needs to be able to filter teams and propose/reject games*@
        <li><a asp-action="AddAvailability" asp-controller="Home">Add Availability</a></li>
        <li><a asp-action="Messages" asp-controller="Home">Message Other Teams/See Messages</a></li>
    </ul>
</div>
