@model Team
@{
    ViewData["Title"] = "UserHomePage";
}

<h2>UserHomePage</h2>

<form asp-controller="Home" asp-action="ViewTeam" method="get">
    <div class="form-row">
        <label asp-for="League"></label>
        <input asp-for="League" />
    </div>
    <div class="form-actions">
        <button type="submit">Search</button>
    </div>
</form>