<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sport Club Helper</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Sports Team Organizer</h1>
        <div class="logo">
            <img src="~/images/lol.jpg" />
        </div>
    </header>
    <nav>
            <ul>
                <li><a asp-action="Index" asp-controller="Home" class="nav-buttons">Home</a></li>
                @*<li><a asp-action="AdminHomePage" asp-controller="Home">Admin Page</a></li>*@
                <li><a asp-action="Login" asp-controller="Account" class="nav-buttons">Login</a></li>
                <li><a asp-action="Register" asp-controller="Account" class="nav-buttons">Register</a></li>
            </ul>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - TN Enterprises</p>
        </footer>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>