body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*border-bottom: 2px solid #233772;*/
}

#logo {
    max-width: 100%;
}

#footer {
    max-width: 100%;
}

.page-info {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 20px;
}

    .page-info h2 {
        font-size: 200%;
        color: #233772;
    }

    .page-info h3 {
        color: red;
    }

.admin-links {
    border-left: 3px solid #233772;
    list-style: none;
    text-decoration: none;
    color: #233772;
    padding: 10px;
}

    .admin-links a {
        list-style: none;
        text-decoration: none;
    }

        .admin-links a:hover {
            text-decoration: underline;
            color: gray;
        }

.user-links {
    border-left: 3px solid #233772;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    color: #233772;
}

    .user-links a {
        list-style: none;
        text-decoration: none;
    }

        .user-links a:hover {
            text-decoration: underline;
            color: gray;
        }

.sched-links {
    list-style: none;
    text-decoration: none;
    color: #ee2e29;
    padding: 10px;
}

    .sched-links a {
        list-style: none;
        text-decoration: none;
    }

        .sched-links:hover {
            text-decoration: underline;
            color: gray;
        }

nav {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 99%;
    background-color: lightgrey;
    border: 5px solid #233772;
}

    nav li {
        display: inline;
    }

.nav-buttons {
    background-color: lightgrey;
    color: #ee2e29;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 130px;
    margin: 5px;
}

    .nav-buttons:hover {
        background-color: white;
    }

input[class=input] {
    background-color: white;
    border: 2px solid #233772;
    padding: 10px;
}

input[type=text] {
    background-color: white;
    border: 2px solid #233772;
    padding: 10px;
}

input[type=password] {
    background-color: white;
    border: 2px solid #233772;
    padding: 10px;
}

input[type=email] {
    background-color: white;
    border: 2px solid #233772;
    padding: 10px;
}

input[type=submit] {
    background-color: lightgray;
    border: 2px solid #233772;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    input[type=submit]:hover {
        background-color: white;
    }

input[type=button] {
    background-color: lightgray;
    border: 2px solid #233772;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    input[type=button]:hover {
        background-color: white;
    }

.dropbtn {
    background-color: lightgray;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: 2px solid #233772;
    cursor: pointer;
    border-left: 3px solid #233772;
}

    .dropbtn:hover {
        background-color: white;
        display: block;
    }

table {
    border-collapse: collapse;
    border: 2px solid #233772;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #233772;
    padding: 10px;
}

.team-table {
    table-layout: auto;
    width: 100%;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    flex-direction: row;
    padding-left: 22%;
}

.travel-dates, .home-dates, .calendar {
    margin: 40px;
    border-left: 3px solid #233772;
}

footer {
    bottom: 0;
    position: relative;
<<<<<<< HEAD
    color: lightgray;
}
=======
    color: gray;
}
>>>>>>> e9d8bd8baf480a9227353e05911f0e4f228301a4
