body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid black;
}
/*.text-box {
    width: 100px;
}*/
    .header img {
        width: 30%;
    }

    .header > img {
        padding-right: 20px;
    }

.page-info {
    margin-left: 22%;
    margin-right: 20%;
    background-color:white;
}

    .page-info h2 {
        font-size: 200%;
    }

.admin-links {
    border: 1px solid black;
    list-style: none;
    text-decoration: none;
    color: black;
    padding:10px;
}

    .admin-links a {
        list-style: none;
        text-decoration: none;
    }

    .admin-links a:hover {
        text-decoration: underline;
    }

.user-links {
    border: 1px solid black;
    list-style: none;
    text-decoration: none;
    padding:10px;
}

    .user-links a {
        list-style: none;
        text-decoration: none;
    }

        .user-links a:hover {
            text-decoration: underline;
        }

/*a {
    list-style: none;
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: underline;
    }*/

nav {
    position: fixed;
}

.nav-buttons {
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 130px;
    display: inline-block;
    margin: 10px;
}

    .nav-buttons:hover {
        background-color: white;
    }

input[class=input] {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

input[type=text] {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

input[type=password] {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

input[type=email] {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

input[type=submit] {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
}

input[type=button] {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
}

.dropbtn {
    background-color: lightgray;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: 1px solid black;
    cursor: pointer;
}

    .dropbtn:hover {
        background-color: white;
        display:block;
    }

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding:10px;
}

.team-table {
    table-layout: auto;
    width: 100%;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    flex-direction: row;
    padding-left: 22%;
}

.travel-dates, .home-dates, .calendar {
    margin: 40px;
}

footer {
    padding-left: 22%;
    bottom: 0;
    position: relative;
}