
<div class="page-info">
    <h2>Message Center</h2>
    <div class="homepage-links">
        <ul>
            <li><a asp-controller="Message" asp-action="SelectTeamToSendMessageTo">Send Message</a></li>
            <li><a asp-controller="Message" asp-action="SeeMessages">View Messages</a></li>
            <li><a asp-controller="Message" asp-action="SeeMessagesResponse">View Pending Matches</a></li>
            <li><a asp-controller="User" asp-action="UserHomePage">Back to My Account</a></li>
        </ul>
    </div>
</div>