@using SportsClubOrganizer.Web.Models.Messages
@model List<SportsClubOrganizer.Web.Models.Messages.MessagesModel>
@{
    ViewData["Title"] = "SeeMessages";
}
<div class="page-info">
    <h2>See Messages</h2>
    @if (Model.Count > 0)
    {
        @foreach (MessagesModel message in Model)
        {
            <p>@message.SentByName</p>
            <p name="MessageBody">@message.MessageBody</p>
            <input type="hidden" asp-for="@message.ID" name="ID" class="form-control" />
            <a asp-controller="Message" asp-action="UserAcceptEvent" method="post">
                <input type="button" name="Accept" value="Accept Proposed Event" class="btn btn-default" />
            </a>
            <a asp-controller="Message" asp-action="UserDeclineEvent" method="post">
                <input type="button" name="Decline" value="Decline Proposed Event" class="btn btn-default" />
            </a>
        }
    }
    else
    {
        <p>You have no new messages!</p>
    }

    <br />
    <br />
    <a asp-controller="User" asp-action="UserHomePage" method="post">
        <input type="button" value="Back To User Home Page" class="btn btn-default" />
    </a>
</div>