@model SportsClubOrganizer.Web.Models.User
@{
    ViewData["Title"] = "SelectDate";
}
<div class="page-info">
    <h2>SelectDate</h2>
    @foreach (DateTime date in @Model.UserTeam.HomeDates)
    {
        <p>@date</p>
    }
    @foreach (DateTime date in @Model.UserTeam.TravelDates)
    {
        <p>@date</p>
    }
</div>